:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --width-card: calc((100% - 20% - 24px) / 3);
  --principal-color: #dc2626;
  --high-color: #dc2626;
  --medium-color: #fbbf24;
  --low-color: #22c55e;
  --todo-color: #0284c7;
  --inProgress-color: #ca8a04;
  --done-color: #15803d;
  --card-color: #242424;
  --project-color: #141414;
  --accent-color: #989898;
  --popup-color: #212121;
  --input-text: #c1c1c1;
  --board-title-color: #141414;
  --board-body-color: #191919;
  /* --card-color: #1a1a1a; */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

#root {
  max-width: 80%;
  width: 100%;
}

@media (width <= 640px) {
  #root {
    max-width: 95%;
  }
}

@media (width <= 380px) {
  * {
    font-size: small;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #d8d8d8;
      --card-color: #f0f0f0;
      --project-color: #f0f0f0;
      --accent-color: #1a2837;
      --popup-color: #f0f0f0;
      --input-text: #386991;
      --board-title-color: #c0c0c0;
      --board-body-color: #d1d1d1;
      --todo-color: #0c4d6e;
      --inProgress-color: #855f0e;
      --done-color: #14532c;
  }

}

@tailwind base;
@tailwind components;
@tailwind utilities;
